@import "suitcss-base";
@import "suitcss-utils-flex";
@import "suitcss-components-button";
@import "react-select/dist/react-select.css";

@custom-media --sm-viewport (min-width:320px) and (max-width:640px);
@custom-media --md-viewport (min-width:640px) and (max-width:960px);
@custom-media --lg-viewport (min-width:960px);

:root {
  --primaryColor: #d15811;
}


html,
body {
    margin: 0 30px;
    height: 100%;
    font-family: Quicksand;
    background-color: lightgrey;
    text-transform: uppercase;
}

#app {
	width: 500px;
	margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background: linear-gradient(to bottom right, #9E3F03, #F76B1C);
    padding: 20px;
    position: relative;
}

.menu {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    position: relative;
}

.menuItem {
    text-align: center;
    color: white;
    margin: 30px;
    opacity: 0.5;

}

.title {
    text-align: center;
    color: white;
    margin: 30px;
    opacity: 1;
    
}

.menuIcon {
    text-align: center;
    color: white;
    margin: 30px;
    opacity: 1;
    position: absolute;
    right: 0px;
}

.menuItem.is-selected {
    opacity: 1;
}

.actionButton {
    position: absolute;
    bottom: 20px;
    left: 225px;
}

.weminder {
	background-color: #fff;
	padding: 20px;
    margin-bottom: 5px;
}

.weminderTitle {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 2px;

}

.weminderDate {
	font-size: 15px;
}

.weminderAvatar {
	border-radius: 50%;
	width: 50px;
}


.Button--fab {
	border-radius: 50%;
	background-color: white;
	color: var(--primaryColor);
	font-size: 22px;
	font-weight: bold;
	width: 50px;
	height: 50px;
	border: none;
}

.Button--fab:hover {
    opacity: 0.7;
}

.box {
	padding: 10px;
}
